.bubble {
  margin: 0 auto;
  border-radius: 50%;  
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.bubble.score {
  background: #e90052;
  color: #fff;
  font-size: 70px;
  width: 200px;
  height: 200px;
  position: relative;
  margin: 20px auto 0;
}

.bubble div {
  width: 100%;
  font-size: 30px;
}

.bubble.display {
  background: #38003c;
  color: #00ff85;
  font-size: 30px;
  height: 75px;
  width: 75px;
  position: absolute;
  bottom: 0;
  right: 0;
}