.heading {
  color: #37003c;
  margin: 30px auto 0;
  padding: 0 10px;
  font-size: 40px;
  max-width: 380px;
  width: calc(100% - 20px);
  font-weight: normal;
  max-width: 294px;
}

h2.heading {
  font-size: 30px;
  margin: 10px auto 0;
}